/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* background: #FFFFFF */
/* вторичный фон #F5F4FA */
/* акценты #2196F3 */
/* footer #2F303A */
/* logo-color #ffffff */


body { 
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.list {
    list-style: none;
  }
  
.link {
    text-decoration: none;
  }


/* Шапка сайта */

